/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/
html {
	scroll-behavior: smooth; 
 }

body {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	color: #bbc8ba;
	background-color: #171e13;
	-webkit-font-smoothing: antialiased;

	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
}

/* Container
=====================*/
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

/* Header
=====================*/
.header {
	width: 100%;
	/* height: 100px; */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	
}

.header__inner {
	padding: 13px 0; 
	height: 100px;
	align-items: center;
	display: flex;
	justify-content: space-around;

	background-color: #2b331f;
	border-bottom: 2px solid #fab73d;
}
.header__logo img {
	width: 100%;
   height: 100%;
	object-fit: cover;
}

/* Nav
=====================*/



.nav__list {
	display: flex;
	
	align-items: center;

	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}


.nav__link {
	padding: 0 20px;
   color: #bbc8ba;
	text-decoration: non;
	
	transition: 0.5s ;
	
}

.nav__link:first-child {
	margin-left: 0;
}

.nav__link:hover {
	
	color: #fab73d;
	transform: translateY(-3px);
}

/* Intro
=====================*/

.intro {
	display: flex;
	padding-top: 100px;
}

.intro__inner {
	padding: 20px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 2px solid #fab73d;
	
	background: #2b331f;
}
.intro__photo {
	flex: 0 0 50%;
   position: relative;
	max-height: 300px;
	max-width: 300px; 

}
.photo__item {
	width: 100%;
   height: 100%;
	object-fit: cover;
	
	border-radius: 50%;
	border: 2px solid #fab73d;
}
.intro__name {
	justify-content: center;
}
.name {
	padding-bottom: 30px;
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fab73d;
}
.prof {
	font-size: 27px;
	font-weight: 600;
	text-transform: uppercase;
	color: #546747;
}

/* Main
=====================*/

.main-container {
	display: flex;
	flex-wrap: wrap;
	background-color: #2b331f;
}

.section30 {
	width: 30%;
	padding: 30px;
} 
.section70 {
	width: 70%;
	padding: 30px;
}

 @media (max-width: 768px) {
	.section {
	  width: 100%;
	  
	}
 } 

.section__title {
	font-size: 25px;
	font-weight: 700;
	padding-left: 60px;
	padding-bottom: 20px;
	color: #fab73d;
}

.inner {
	padding-top: 30px;
}

.section__text {
	font-size: 20px;
	line-height: 2.5;
	padding: 0 30px;
}

.section__lang {
	line-height: 2;
	padding: 10px;
	font-size: 16px;
}
.lang {
	font-style: italic;
	font-weight: 700;
}

.list__text {
	font-size: 16px;
	line-height: 2;
}

.list__item {
	display: flex;
	align-items: center;
	padding: 10px;
}
.item__img {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #bbc8ba;
		 
}

.list__icon {
	margin-right: 20px;
	width: 35px;
	height: 35px;
	
	transition-duration: 0.5s;
}

.list__icon:hover {
	transform: translateY(-3px);
}

.list__check {
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.icon__text {
	text-decoration: none;
	color: #bbc8ba;
}

.pre__code {
	padding-left: 30px;
}
pre {
	background-color: #546747;
	border: 1px solid #bbc8ba;
	border-radius: 4px;
	font-family: "Courier New", Courier, monospace;
	line-height: 2;
	max-width: 700px;
}

/* footer
=====================*/

.footer__inner {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #546747;
	padding: 20px;
	border-top: 2px solid #fab73d;
}

.footer__item {
	flex: 0 0 33.333%;
   position: relative;
	max-height: 100px;
	max-width: 100px;
}

.footer__icon {
	width: 60%;
   height: 60%;
	object-fit: cover;

	transition-duration: 0.5s;
}

.footer__icon:hover {
	transform: translateY(-3px);
}

.footer__icon1 {
	width: 100%;
   height: 100%;
	object-fit: cover;

	transition-duration: 0.5s;
}
.footer__icon1:hover {
	transform: translateY(-3px);
}
.footer__text {
	font-size: 20px;
	font-weight: 700;
	color: #fab73d;
}